.login-container, .logout-container, .error-container {
  text-align: center;
  padding: 20px;
}

.login-form, .logout-button, .error-container button {
  margin: 10px 0;
  padding: 10px;
  width: 200px;
}

input[type="text"], input[type="password"] {
  width: calc(200px - 22px); /* Adjust for padding */
  margin-bottom: 10px;
}


button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}